# Assume Data wherever needed/necessary

### Loop Statements

In [ ]:
# WAP stands for Write A Program

In [ ]:
#L1 E
WAP to print all elements of a list using a for loop. 
Take the elements of the list from the user.

For e.g. Input: l = [3,'Hi',67,0,12,0,8]
        Output: 3
                'Hi'
                67
                0
                12
                0
                8

In [12]:
# x = input("Mention Anython : ")

# print(x)
# print(type(x))

# if x.isdigit() :
#     print("s cbbdwejd")
# else : 
    
#     try:
#         x = int(x)
#         print("x")

In [11]:
# res = eval("16 > 10")
# print(type(res))
# print(res)

In [ ]:
#L2 M
WAP to take inputs from user to make a list. Length of the list has to be taken from the user.
Again take one input from user and search it in the list and delete that element, if found.
If not found, print "Element not present".

For e.g. Input: len_list = 5
                list = ["a", "b", "y", "e", "p"]
                search_element = "g"
                    Output: "Element not found"
                search_element = "e"
                    Output: ["a", "b", "y", "p"]

In [ ]:
#L3 EM
Make a grading system for a school based on the marks of the students using the following criteria.
Marks 0 - 40 : Grade F
     41 - 50 : Grade E
     51 - 70 : Grade D
     71 - 80 : Grade C
     81 - 90 : Grade B
     91 - 100: Grade A
Continuously take marks as input from the user and print the grade. 
The user can enter "Stop" to stop the loop.

In [ ]:
#L4 E
WAP to save the cube of all numbers from 1 to a number n in list, 
where n is taken as input from the user.

For e.g. Input: 5
        Output: [1, 8, 27, 64, 125]  #Cube of numbers from 1 to 5 where 5 is the input from the user

In [ ]:
#L5 E
WAP to print even numbers in a given range in reverse order. Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 14, 12, 10, 8, 6, 4

In [2]:
list1 = [23,45,67,88,26,13,46]
list2 = []

for i in range(len(list1)) :
    if list1[i] % 2 == 0 :
        list2.append(list1[i])

print(list2)
print("List in reverse order is ",list2[ -1: : -1])

[88, 26, 46]
List in reverse order is  [46, 26, 88]

In [ ]:
#L6 E
WAP to print odd numbers in a given range in reverse order.
Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 13, 11, 9, 7, 5, 3

In [ ]:
#L7 E
WAP to print multiplication table of a number taken as input from the user.

For e.g. Input: 5
        Output: 5*1 = 5
                5*2 = 10
                .
                .
                .
                5*10 = 50

In [3]:
n = int(input("Enter a Number : "))

for i in range(1, 11) :
    print( n, "*", i , "=", n*i)

Enter a Number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
# *
# **
# ***
# ****

for i in range(1, 5) : 
    print("*"  * i)

*
**
***
****

In [4]:
print("*" * 3)

***

In [9]:
n= int(input('enter elements'))
for i in range(1, n):
    print(("*"*i).ljust(5))

enter elements5
*
**
***
****

In [12]:
# 1
# 22
# 333
# 4444
# 55555

for i in range(1, 6) : 
    print(str(i) * i)

1
22
333
4444
55555

In [17]:
# word = 'python'
# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

word = 'python'
for char in range( len(word) ) : 
    print(word[char] * (char + 1) )

p
yy
ttt
hhhh
ooooo
nnnnnn

In [ ]:
#L8 E
WAP to print the following pattern.

1
1 2
1 2 3
1 2 3 4

In [22]:
for i in range(1, 5) : 
    print(f"{i} = i")
    for j in range(1, i + 1) : 
        print(f"{j} = j")
    print("--" * 10)

1 = i
1 = j
--------------------
2 = i
1 = j
2 = j
--------------------
3 = i
1 = j
2 = j
3 = j
--------------------
4 = i
1 = j
2 = j
3 = j
4 = j
--------------------

In [24]:
for i in range(1, 5) : 
#     print(f"{i} = i")
    for j in range(1, i + 1) : 
        print(j, end = " ")
#     print("--" * 10)
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
#L9 H
Write a program to calculate the sum of series up to n terms for a digit d. n & d are taken as input from the user.

For example:
    Input: n = 5, d = 2
    Logic: 2 + 22 + 222 + 2222 + 22222 
    Output: 24690

In [32]:
n = int(input("Enter Upper Range : "))
d = int(input('Number between 0 - 9 : '))

pattern = ""
totalSum = 0

for i in range(1, n + 1 ) : 
    requiredNumber = str(d) * i
    pattern = pattern + " + " + requiredNumber
#     print("requiredNumber = " , requiredNumber)
    totalSum += int(requiredNumber)
    
print(totalSum)
print(pattern[ 2: ])

Enter Upper Range : 5
Number between 0 - 9 : 2
24690
 2 + 22 + 222 + 2222 + 22222

In [ ]:
#L10 M
WAP that keeps on accepting numbers from the user until the user enters Zero(0) as input.
Display the sum and average of all the numbers.

For example:
    Input: 3, 6, 8, 2, 5, Stop
    Output: Sum = 24
            Average = 4.8

In [ ]:
#L11 E
Accept n numbers from the user and display their average. n is input from the user.

For example:
    Input: n = 5
        Numbers = 3, 6, 2, 9, 0
    Output: Average = 4.0

In [33]:
counter = 0  # to count the number of elements simultaneouely
totalSum = 0
average = 0
while True : 
    
    number = int(input("Mention Number : "))
    
    if number == 0 : 
        
        print(f"Sum = {totalSum}, Average = {average}")
        break
    
    totalSum += number
    counter += 1
    average = (totalSum / (counter ) )

Mention Number : 10
Mention Number : 235
Mention Number : 35
Mention Number : -54
Mention Number : 14
Mention Number : 0
Sum = 240, Average = 48.0

### String Questions

In [ ]:
#S1 E
Write a Python program to count the number of each of the characters (character frequency) 
   in a string input by the user. Ignore the case.
   For example: Input: "Python is great"
		Output: P = 1, y = 1, t = 2, and so on...

In [16]:
Input =  "Python is great"

output= []
for i in Input : 
    print(f"i = {i}, Count = {Input.count(i)}")
    output.append((i, Input.count(i)))

print(output)

output = list(set(output))
print(output)

i = P, Count = 1
i = y, Count = 1
i = t, Count = 2
i = h, Count = 1
i = o, Count = 1
i = n, Count = 1
i =  , Count = 2
i = i, Count = 1
i = s, Count = 1
i =  , Count = 2
i = g, Count = 1
i = r, Count = 1
i = e, Count = 1
i = a, Count = 1
i = t, Count = 2
[]
[]

In [21]:
# * Cinthya

s=input("enter the string")

count=0
for i in range(len(s)):
    count=0
    for j in range(len(s)):
        if s[i]==s[j]:
            count=count+1
    if(s[i]!=' '):
        print(s[i],count)        
        s=s.replace(s[i],' ')

enter the stringPython is great
P 1
y 1
t 2
h 1
o 1
n 1
i 1
s 1
g 1
r 1
e 1
a 1

In [18]:
Input =  "Python is great"

output= []
for i in Input : 
#     print(f"i = {i}, Count = {Input.count(i)}")
    output.append((i, Input.count(i)))

print(output)

output = list(set(output))
# output.sort(key = output[1])
print(output)

[('P', 1), ('y', 1), ('t', 2), ('h', 1), ('o', 1), ('n', 1), (' ', 2), ('i', 1), ('s', 1), (' ', 2), ('g', 1), ('r', 1), ('e', 1), ('a', 1), ('t', 2)]

TypeError: 'tuple' object is not callable

In [ ]:
#S2 M
Write a Python program to find the digits which are absent in a given mobile number.

   For example: Input : 9354328855
                Output: 0167

In [20]:
mobile = input("Mention Mobile Number : ")

resultant = ""

for i in range(0, 10) : # 0 1 2 3 4 5 6 7 8 9
    if str(i) not in mobile : 
        resultant = resultant + str(i)

resultant

Mention Mobile Number : 7845120254

'369'

In [ ]:
#S3 M
WAP in python to find average of n numbers taken as input from the user dynamically.

In [ ]:
#S4 E
WAP in python that accepts a hyphen-separated sequence of 
words as input and prints the words in a hyphen-separated 
sequence after sorting them alphabetically.

For e.g. Input: "p-y-t-h-o-n"
        Output: ['h', 'n','o', 'p', 't', 'y']

In [23]:
Input = "p-y-t-h-o-n"

res = Input.split("-")
print(res)

res.sort()
print(res)

['p', 'y', 't', 'h', 'o', 'n']
['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
# Anagrams ???

# Given any two words, find out weather they are anagram or not ???

tea, eat
top pot

NOt Anagram
swim wins
eats eat

In [33]:
ipstring1=input("Enter the characters : ")
ipstring2=input("Enter the characters : ")
iplist1=list(ipstring1)  # [t e a]
iplist2=list(ipstring2)  # [e a t]
iplist1.sort()  # a e t
iplist2.sort() # a e t

print(iplist1)
print(iplist2)

if iplist1 == iplist2:
    print("it is anagram")
else : 
    print("Not a Anagram")

Enter the characters : tea
Enter the characters : eevfe
['a', 'e', 't']
['e', 'e', 'e', 'f', 'v']
Not a Anagram

In [36]:
ipstring1=input("Enter the characters : ")
ipstring2=input("Enter the characters : ")
print(  sorted( ipstring1) )
print(  sorted( ipstring2) )

if sorted( ipstring1 ) == sorted( ipstring2 ):
    print("it is anagram")
else : 
    print("Not a Anagram")

Enter the characters : eat
Enter the characters : tea
['a', 'e', 't']
['a', 'e', 't']
it is anagram

In [ ]:
#S5 MH
WAP in python to find the number of vowels, consonants, digits, special 
characters and white space characters in a string input by the user.

Example: Input: "Qwerty@123"
	output: v = 1, c = 5, d = 3, w = 0, s = 1

In [39]:
# Input = "Qwerty@123 p%ython"
Input = "Qwerty@123"
v, c, d, w, s = 0,0,0,0,0

# vowels = [a , e, i, o, r, A, E, I, O, U]

for ch in Input : 
    if ch.isalpha() and ch.upper() in "AEIOU" : # A-Z or a-z
        v += 1
    elif ch.isalpha()  : # a-z or A-Z
        c += 1
    elif ch.isdigit()  : # 0 - 9
        d += 1
    elif not(ch.isalnum()) and not(ch.isspace()) :   # does not lies in 0-9 or a-z or A-Z
        s += 1
    else: 
        w += 1
print("Vowels: ", v);
print("Consonants: ", c);
print("Digits: ", d);
print("White spaces: ", w);
print("Symbols : ", s);

Vowels:  1
Consonants:  5
Digits:  3
White spaces:  0
Symbols :  1

In [ ]:
#S6 MH
WAP in python to check the strength of the password input by the user based on the following features.
    Length minimum of 8 characters  (+1 Strength)
    Combination of upper case & lower case characters (+1 Strength)
    Combination of alphabets & digits (+1 Strength)
    Use of Special Characters (+1 Strength)
    
Example: Input: "Qwerty@123"
        Output: Strength = 4

In [47]:
Input =  "a@123"

# any char is in lower case
print( [char.islower() for char in Input] )

print( any([char.islower() for char in Input]) )

# all char is in lower case
print( all([char.islower() for char in Input]) )

# all ~ and
# any ~ or

[True, False, False, False, False]
True
False

In [55]:
import string

splChars = string.punctuation
splChars

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [64]:
password = input("Provide password : ")

# splChars = "!@#$%^&*(){:>}"
import string
splChars = string.punctuation

strength1 = 0
strength2 = 0
strength3 = 0
strength4 = 0

if len( password ) >= 8 : 
    strength1 += 1
if ( any( p.islower() for p in password ) ) and ( any( p.isupper() for p in password ) ) : 
    strength2 += 1
if ( any( p.isdigit() for p in password ) ) : 
    strength3 += 1
if ( any( p for p in password if p in splChars) ) : 
    strength4 += 1

finalStrength = strength1 + strength2 + strength3 + strength4
print(finalStrength)

print(strength1)
print(strength2)
print(strength3)
print(strength4)

Provide password : fyGFGHgf34567/*-
4
1
1
1
1

In [ ]:
#S7 E
WAP in python to compare two strings and tell the user if both of those strings are same or not. 
Ignore their case.

Example: Input String1: "Hello"
	Input String2: "hello"
	Output: Strings are same

In [65]:
a=input('enter: ').strip().lower()
b=input('enter: ').strip().lower()
if a==b:
    print('stirngs are same')
else:
    print('not same')

enter: HellO
enter: hello
stirngs are same

In [ ]:
#S8 E
WAP in python to calculate the number of times a character is repeated in a given string.
Take the string and character from the user.

Example: Input String: "Neil Nitin Mukesh"
        Input Character: "e"
        Output: 2

In [ ]:
#S9 E
WAP in python which accepts string from the user and displays only those characters/elements which are present at an even index.

Example: 
    Input: "Python"
    Output: Pto

In [ ]:
#S10 E
WAP in python to capitalize the first letter of the First Name and Surname where whole name is taken as input from the user.

Example: Input: "first last" or "FIRST LAST" or "first lAst" i.e. Input can be in any case.
        Output: "First Last"

In [ ]:
#S11 EM
Write a Python program that accepts a comma separated sequence of words as input and 
prints the unique words in sorted form (alphanumerically).

	Sample Words : red, white, black, red, green    
	Expected Result : black, green, red, red, white

In [66]:
a=input('enter comma seperator accepted seq of words: ')
a=a.split(',')

# strip action required on all the words inside list

b=sorted(a)
c=','.join(b)
print(c)

enter comma seperator accepted seq of words: red, white, black, red, green
 black, green, red, white,red

In [70]:
userInput = input("Please enter a few words separated by commas: ")
inputList = userInput.split(sep = ",")
# print(inputList)

sortedList = sorted(inputList)
print(sortedList)
text = ', '.join(sortedList)
print(text)

Please enter a few words separated by commas: red, white, black, red, green
[' black', ' green', ' red', ' white', 'red']
 black,  green,  red,  white, red

In [ ]:
#S12 MH
Write a Python program to count repeated characters in a string.

	Sample string: 'thequickbrownfoxjumpsoverthelazydog'
	Expected output :
			o 4
			e 3
			u 2
			h 2
			r 2
			t 2

In [74]:
A=input("Enter a string-")
for i in range(len(A)):
    B=A[0:i:1]
    if str(A[i]) not in B:
        if A.count(str(A[i]))>1:
            print(f"{A[i]} = {A.count(str(A[i]))}")

Enter a string-thequickbrownfoxjumpsoverthelazydog
t = 2
h = 2
e = 3
u = 2
r = 2
o = 4

In [77]:
stringName =  'thequickbrownfoxjumpsoverthelazydog'

listName = []
for each in stringName : 
#     print(each)
    c = stringName.count(each)
    if c > 1 : 
        listName.append( (each, c) )
print(listName)

listName = list( set( listName ) )

print(listName)

[('t', 2), ('h', 2), ('e', 3), ('u', 2), ('r', 2), ('o', 4), ('o', 4), ('u', 2), ('o', 4), ('e', 3), ('r', 2), ('t', 2), ('h', 2), ('e', 3), ('o', 4)]
[('h', 2), ('r', 2), ('o', 4), ('e', 3), ('u', 2), ('t', 2)]

### List Questions

In [ ]:
#Li1 M
WAP to remove empty strings from the list of strings. Take list as input from the user.

For example: Input: ["My", "name", "", "is", "", "Alankrita", "", "."]
            Output: ["My", "name", "is", "Alankrita", "."]

In [78]:
userList = []
num_inputs = 7

while num_inputs > 0:
    userInput = input("Please enter a word: ")
    userList.append(userInput)
    num_inputs -= 1

for i in userList:
    if i.isspace() or i == "":
        userList.remove(i)
        
print(userList)

Please enter a word: bswvgdghw
Please enter a word:
Please enter a word: b shjkwnd nfw
Please enter a word: mn dvvjhknbnvw
Please enter a word: 6984232 212 dwwe2vf
Please enter a word:     hj
Please enter a word:
['bswvgdghw', 'b shjkwnd nfw', 'mn dvvjhknbnvw', '6984232 212 dwwe2vf', '    hj']

In [ ]:
#Li2 H
WAP to make a list of all the characters starting from character 'A' to input charaacter from the user.

For e.g. Input: 'H'
        Output: ["A", "B", "C", "D", "E", "F", "G", "H"]

In [81]:
A = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
B = input("Enter a character- ")  # z
print(A[ : A.index(B.upper().strip())+1]  )

Enter a character-   hb

ValueError: 'HB' is not in list

In [86]:
char = input("Mention Character : ")
char = char.upper().strip()

import string
seq = string.ascii_uppercase
seq = list(seq)
print(seq)

seq[ : seq.index(char) + 1 ]

Mention Character : d
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

['A', 'B', 'C', 'D']

In [ ]:
#Li3 H
WAP to check if a specific employee e is present in a company or not. Employee names are saved in a list.
e is taken as input from the user.

For example: empList = ["Ashwin", "Rachit", "Sanjana", "David", "Komal"]
            Input1: "Komal"
            Output1: "Employee is present"
            
            Input2: "Nitish"
            Output2: "Employee is not present"

In [ ]:
#Li4 M
Write a python program to find the maximum and minimum number in a list of 10 elements 
   (taken as input from the user) and also find the index position of the these numbers.
    
   For example: Input : [25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
		Output: Max Number: 86, Index of Max Number: 3
			Min Number: 1, Index of Min Number: 2

In [87]:
inputList=[25, 2, 1, 86, 42, 32, 27, 12, 31, 10]

print(f"Max number: {max(inputList)},Index of Max number: {inputList.index(max(inputList))}")
print(f"Min number: {min(inputList)},Index of Min number: {inputList.index(min(inputList))}")

Max number: 86,Index of Max number: 3
Min number: 1,Index of Min number: 2

In [ ]:
#Li5 M
Given two Python lists of same length. Iterate both lists simultaneously such that list1 
   should display item in original order and list2 in reverse order.
    
   For example: Input = list1 = [10, 20, 30, 40]
			list2 = [100, 200, 300, 400]
            Output: 10 400
                    20 300
                    30 200
                    40 100

In [91]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2 = list2[ : : -1]
for i in range( len(list1)) : 
    print(list1[i], " ", list2[i])

10   400
20   300
30   200
40   100

In [ ]:
#Li6 M
WAP to concatenate two lists index-wise.
    list1 = ["M", "na", "i", "Ashu"]
    list2 = ["y", "me", "s", "tosh"]
    Output: ['My', 'name', 'is', 'Ashutosh']

In [ ]:
#Li7 M
WAP to remove/delete items from a list while iterating without creating a duplicate list.
Take the elements to be deleted from the user in real-time.

Input : 
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# Enter Number between 0 - 9 : 4

Output : 
# [0, 1, 2, 3, 5, 6, 7, 8, 9]

In [93]:
uList = [i for i in range(10)]
print( uList )

uValue = int(input( "Enter Number between 0 - 9 : " ))
for i in uList : 
    if i == uValue : 
        uList.remove(i)
print(uList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Enter Number between 0 - 9 : 4
[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [95]:
A=str(input("Enter a space seperated list as input=")).split()
B=str(input("Enter a element to delete from the list="))
A.remove(str(B))
print(A)

Enter a space seperated list as input=25 25 4
Enter a element to delete from the list=25
['25', '4']

In [ ]:
# siddharth **

userList = ["Siddharth", 32, 54.6, "Kangle"]

while len(userList) > 0:
    delete_element = input("Please enter the element you wish to delete. Enter 'Stop' to stop process: ").strip()
    
    if delete_element.isalpha() and delete_element in userList:
        userList.remove(delete_element)
        print(f"Element successfully deleted! Modified list is: {userList}")
    elif delete_element.isdigit() and int(delete_element) in userList:
        userList.remove(int(delete_element))
        print(f"Element successfully deleted! Modified list is: {userList}")
    elif '.' in delete_element and float(delete_element) in userList:
        userList.remove(float(delete_element))
        print(f"Element successfully deleted! Modified list is: {userList}")
    elif delete_element.title().strip() == "Stop":
        print(f"Process stopped. Your modified list is {userList}")
        break
    else:
        print("Element not found in user list. Try again")
        continue

In [ ]:
#Li8 E
WAP to generate a Python list of all the prime numbers between n to m where n & m are taken as input from the user.

In [ ]:
#Li9 M
WAP to concatenate two lists in the following order:
    list1 = ["Hello ", "World"]
    list2 = ["Hi", "There"]
    Output: ['Hello Hi', 'Hello There', 'World Hi', 'World There']

In [6]:
# Li10 M
Given two lists having names of students and their corresponding marks.
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]
Take name of a student as input from the user and output his/her marks.

For e.g.:
    Input1: "Alankrita"
    Output1: 26
        
    Input2: "Someone"
    Output2: "Student not found"

Enter the name: Komal
27

In [97]:
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]

Name = input("Enter the name of the student : ")

if Name in names :
    x = names.index(Name)
    y = marks[x]
    
    print(y)
else :
    print("Student not found")

Enter the name of the student : Rachit
23

In [ ]:
#Li11 H
Extended question of #Li10
Add an option to change marks of any students in the same code of #Li10. Take student name and new marks from the user. 
Print the modified list as output.

For e.g.: Input: "Ajay"
        new_mark: 25
        Output: marks = [23, 25, 26, 23, 27, 24]

In [99]:
names= ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks= [23, 21, 26, 23, 27, 24]

print(f"Names of student-{names}\nMarks-{marks}")
a= input("Enter a student name-")
if a in names:
    print(f"marks={marks[names.index(str(a))]}")
else:
    print("Student not found")

b=int(input(f"Enter an updated/new marks for {a}="))
# names.append(a)
marks.insert(int(names.index(str(a))),b)
marks.pop(int(names.index(str(a)))+1)
print(f"Updated marks list={marks}")

Names of student-['Ashutosh', 'Ajay', 'Alankrita', 'Rachit', 'Komal', 'Anil']
Marks-[23, 21, 26, 23, 27, 24]
Enter a student name-Komal
marks=27
Enter an updated/new marks for Komal=30
Updated marks list=[23, 21, 26, 23, 30, 24]

In [100]:
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]

student=input('enter name: ').strip().title()

new_marks=int(input('enter marks: '))

if student in names:
    r=names.index(student)
    marks[r]=new_marks
else:
    pass;
print(marks)

enter name: komal
enter marks: 100
[23, 21, 26, 23, 100, 24]

In [ ]:
#Li12 H
Extended question of #Li10
Give an option to enter the marks of a new student into the existing lists names and marks. Take new data as input from user.
Print the new names and marks list as output.

For e.g.: Input: New_name = "Nitish"
                new_Marks = 20
        Output: names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil", "Nitish"]
                marks = [23, 21, 26, 23, 27, 24, 20]

### Dictionary Questions

In [ ]:
#D1
WAP in Python to merge following dictionaries to create a new one:
	dic1={1:10, 2:20}
	dic2={3:30, 4:40}
	dic3={5:50, 6:60}

In [ ]:
#D2
WAP in python to generate and print a dictionary that contains a number (between 1 and n) 
in the form {x : x*x} where n is the input from the user.

For e.g. Input: 4
        Output: {1:1, 2:4, 3:9, 4:16}

In [ ]:
#D3
WAP in python to find the number of vowels, consonants, digits, white space characters & 
special characters in a string and save the result in the form of a dictionary.

In [ ]:
#D4
WAP to reverse map the dictionary items. Take dictionary as input from the user.

	For eg., Input: d = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
            Output: d = {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
#D5
WAP to save Username and Password of 10 employees in an organisation. 
Take the Username and Password as input from the user one by one and save in the Dictionary.

In [ ]:
#D6
Extended Question from #D5
Write an additional functionality to check if an employee is present in the organisation or not.
Basically "Search" Functionality based on their username
Take employee name as input from the user.
If the employee is present, print "Present" else print "Not Present"

### Misc. Questions - i.e. you can use any data type which seems feasible for question

In [ ]:
#M1
WAP in python that accepts two integers (n) & (m) from user and 
computes the value of 2n3 + 5m2 - 7n + 10

In [ ]:
#M2
Write a python program to find the intersection of elements from two list 
(find the common elements in two lists).

In [ ]:
#M3
WAP in Python to find the Max of n numbers all taken as input from the user.

In [ ]:
#M4
WAP which takes a sequence of numbers from the user and check if all input numbers are unique.

In [ ]:
#M5
WAP to reverse a given integer number.
Example: Input: 105320
        Output: 023501

In [ ]:
#M6
WAP to take 10 integer inputs from the user and save them in a list. 
The inputs have to be mix of even and odd numbers. 
Now make one list to save all the even numbers from the input list. 
Make another list for odd numbers too.

In [ ]:
#M7
WAP to convert temperature in Fahrenheit to Celsius. Take the temperature from the user in float type.

In [ ]:
#M8
WAP to continuously take Names as input from the user. 
Save the incoming names into a list as Full Name and save {First Name:Second Name} in a dictionary.
Take inputs till the user enters "Stop"

For e.g.: Input: "Shahrukh Khan", "Gauri Khan",..................."Stop"
         Output: list1 = ["Shahrukh Khan", "Gauri Khan",....................]
                dict1 = {"Shahrukh":"Khan", "Gauri":"Khan", .....................}

In [ ]:
#M9
WAP to make a simple and compound interest calculator. Take all the necessary data as input from the user.

In [ ]:
#M10

In [102]:
# Display the sum of digits of all the odd elements in a list using list comprehension
a=[367, 111, 562, 945, 6726, 873]

b=[]

for i in a:
    if i%2!=0:
        sum=0
        while i>0:
            sum+=i%10
            i=i//10
        b.append(sum)
print(b)

[16, 3, 18, 18]